*
{
    margin: 0 auto;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

.inpute
{
    color:black !important; ;
    margin-bottom: 10px;
}
body
{
    background: url("../img/background2.png");
    color: black;
    font-size: 30px;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

h2
{
    font-size: 60px;
    text-shadow: 2px 2px 3px black;
    color: white;
    border-radius: 20px;
    background-color: rgba(122, 128, 118, 0.404);

}
p
{
    padding-top: 20px;
    text-align: start;
    font-size: 20px;



}

.cont0
{
    text-align: center;
    padding-top: 50px;
    position: relative;
    margin-bottom: -80px;        
}

.cont1
{
    position: relative;
    background-color:  rgba(225, 225, 225, 0.5);
    width: 350px;
    height: 500px;
    top: 100px;
    box-shadow: 4px 4px 5px black;
    padding-top: 20px;
    text-align: start;
    font-size: 20px;
        
}
.alerta
{
    text-align: center;
    font-size: 30px;
    color: red;
}
#img 
{
    height: 100px;
    width: 100px;
    background-image: none;
    border-radius: 50px;
    margin-right: 300px;
    margin-top: 20px;
}

input[type=number] {
    -moz-appearance:textfield;
}

.botao
{
    border: 1px solid black;
    color: black;
    margin-top: 20px;
    height: 50px;
    width: 200px;
    margin-left: 50px;
}

@media (min-width: 500px)
 {
.cont0
{
    text-align: center;
    padding-top: 50px;
    position: relative;
    margin-bottom: -80px;    
    width: 500px;
    
}

.cont1
{
    position: relative;
    background-color:  rgba(225, 225, 225, 0.5);
    width: 700px;
    height: 500px;
    top: 100px;
    box-shadow: 4px 4px 5px black;
    padding-top: 20px;
    text-align: start;
    font-size: 20px;
        
}

.botao
{
    border: 1px solid black;
    color: black;
    margin-top: 20px;
    height: 50px;
    width: 200px;
    margin-left: 200px;
}


}